@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i');
body {
  font-family: "IBM Plex Sans", sans-serif;
}

pre {
  font-family: "IBM Plex Mono", monospace;
  padding: 2em;
  border-width: 1px;
  border-color: lightgray;
  border-style: dashed;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

.imageblock {
  padding: 1em;
}

.imageblock img {
  border-style: solid;
  border-width: 0.5px;
  border-color: lightgray;
  padding: 1em;
}

.jumbotron.site-title {
  background-color: #85c5ee;
  font-weight: 700;
  margin-bottom: 0em;
  border-radius: 0px;
}

.lead {
  font-weight: 700;
}

@media (min-width: 768px) {
  .jumbotron.site-title {
    background-image: url("/theme/images/title_img.jpg");
    background-size: cover;
  }
  .jumbotron.site-title h1 {
    mix-blend-mode: difference;
    color: white;
  }
  .jumbotron.site-title .lead {
    mix-blend-mode: difference;
    color: white;
  }
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2em;
}

.blog-header-logo {
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/*
   * Blog name and description
   */

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination>.btn {
  border-radius: 2rem;
}

/*
   * Blog posts
   */

.blog-post {
  margin-bottom: 0rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-tags li {
  border: none;
}

/*
   * Footer
   */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  /* background-color: #f9f9f9; */
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}