<div class="extra-pagination">
    {% include "partials/pagination.html" %}
</div>

{% for article in articles_page.object_list %}
<article class="post">
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><time
                    datetime="{{ article.locale_date }}">{{ article.locale_date }}</time></h6>
            <p class="card-text">
                {% if article.summary %}
                <p class="card-text">{{ article.summary }}</p>
                {% else %}
                <p class="card-text">{{ article.description }}</p>
                {% endif %}
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">Read</a>
        </div>
    </div>

</article>
{% endfor %}

{% include "partials/pagination.html" %}