{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block head %}
<link href="{{ SITEURL }}/{{ article.url }}" rel="canonical" />

{% if description %}
<meta name="description" content="{{ description }}">
{% elif article.headline %}
<meta name="description" content="{{ article.headline }}">
{% elif article.summary %}
<meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
{% endif %}

{% for author in article.authors %}
<meta name="author" content="{{ author }}">
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}">
{% endfor %}

{% endblock %}

{% block content %}
<article class='blog-post'>
  <header>
    <h1 class='blog-post-title'>{{ article.title }}</h1>
    <p class="blog-post-meta">Posted on
      <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
    </p>
  </header>
  <section class="blog-post-body">
    {{article.content}}
  </section>

  <footer class='blog-footer'>
    {% if article.tags %}
    <ul class="list-group list-group-horizontal blog-post-meta blog-post-tags">
      <li class="list-group-item">Tags:
        {% for tag in article.tags |sort %}
      <li class="list-group-item"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <p class="post-nav">
      {% if article.next_article %}
      <a class="post-nav-next" href="{{ SITEURL }}/{{ article.next_article.url}}">
        <section class="post-nav-teaser">
          <i class="ic ic-arrow-left"></i>
          <h2 class="post-nav-title">{{ article.next_article.title }}</h2>
          <p class="post-nav-excerpt">{{ article.next_article.summary|striptags|truncate(90) }}</p>
        </section>
      </a>
      {% endif %}
      {% if article.prev_article %}
      <a class="post-nav-prev" href="{{ SITEURL }}/{{ article.prev_article.url}}">
        <section class="post-nav-teaser">
          <i class="ic ic-arrow-right"></i>
          <h2 class="post-nav-title">{{ article.prev_article.title }}</h2>
          <p class="post-nav-excerpt">{{ article.prev_article.summary|striptags|truncate(90) }}</p>
        </section>
      </a>
      {% endif %}
    </p>
  </footer>
</article>

{% endblock content %}